<h2>détail de {{materiel.libelle}} d'id:{{materiel.id}}</h2>
<div class="container">
    <div class="row">
        <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item"><img src="{{materiel.photo}}" alt="PC HP"></li>
            <li class="list-group-item">Marque: {{materiel.marque}}</li>
            <li class="list-group-item">Prix: {{materiel.prix}}</li>  
            <li class="list-group-item">Description: {{materiel.description}}</li>
            <li class="list-group-item">Quantité: {{materiel.quantite}}</li>
            <li class="list-group-item"><input type="checkbox" [checked]="materiel.hautGamme"/>Haut de Gamme</li> 
        <li class="list-group-item"><button type="button" class="btn btn-primary">Afficher les commentaires</button></li>
        </ul>
        </div>  
    </div>
</div>

